@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary: #fdf6e3;
  --secondary: #982649;
  --theme-grey: #7a7d7d;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  --black: #000;
  --text-dark: #0a0908;
  --text-light: #f0f5f1;

  --xs: 0.25rem;
  --s: 0.5rem;
  --m: 1rem;
  --l: 1.5rem;
  --xl: 2rem;
  --xxl: 2.5rem;
  --xxxl: 3rem;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  background-color: var(--primary);
}

form {
  flex-grow: 1;
}
p {
  line-height: 1.25;
}
.u-it {
  font-style: italic;
}

.u-textDark {
  color: var(--text-dark);
}
.u-textGrey {
  color: var(--theme-grey);
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}
.u-emptySpace {
  flex: 1;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 700;
  color: var(--secondary);
}
.u-boldAlt {
  font-weight: 700;
}
.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.u-darkBg {
  width: calc(0.4 * 1920px);
  padding: 0 var(--l);
  margin: var(--s) 0;
  border: 2px solid var(--theme-grey);
  border-radius: var(--m);
  background-color: #fbedc8;
  height: 90vh;
  flex: 0 0 auto;
}

.u-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  display: flex;
}

@media screen and (max-width: 850px), (max-aspect-ratio: 10/16) {
  :root {
    font-size: 30px;
  }
}
