.Home-container{
  width: 100%;
}
.Home-text{
  
  max-width: 896px;
  /* justify-content: center; */
  /* flex-shrink: 0; */
  margin: 2em auto;
  padding: 1em;
}
.Home-flex{
  display: flex;
}
.Home-emptySpace{
  flex-basis: 480px;
  flex-shrink: 1;
}
