.Home-container {
  width: 100%;
}
.Home-text {
  max-width: 896px;
  /* justify-content: center; */
  /* flex-shrink: 0; */
  margin: 2em auto;
  padding: 1em;
}
.Home-miniNav-Container {
  padding: 25px 0 0 12px;
}

.Home-miniNav {
  justify-content: center;
  flex: 0 0 18em;
}
.Home-link {
  flex: 1;
  text-decoration: none;
  font-weight: 500;
  /* color: var(--theme-grey); */
  font-size: 1.25rem;
}
.Home-emptySpace {
  flex: 1;
}
.Home-horizontalLine {
  width: 10em;
  height: 2px;
  align-self: center;
  background-color: var(--text-dark);
  border-radius: 2px;
  color: var(--text-dark);
}

button,
a {
  font-family: inherit;
  background-color: transparent;
  border: 0;
  text-transform: none;
  /* -moz-user-select: inherit;
  -webkit-user-select: inherit; */
  color: inherit;
}

.Home-link:hover {
  color: var(--text-dark);
}
