/* .About- */
.About-container {
  display: flex;
  width: 100%;
}

.About-contentContainer {
  flex: 0 0 auto;
  margin: 0 10%;
  padding: var(--s);
  border-radius: var(--s);
  /* background-color: #fbedc8; */
  justify-content: center;
  max-width: calc(0.4 * 1920px);
}

.About-container img {
  max-width: 300px;
  flex: 2 0 auto;
  float: right;
  text-align: center;
  margin: 0.5rem;
  margin-left: 1rem;
  margin-top: 0.25rem;
  box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: var(--xs);
}
.About-container h2 {
  margin-top: 0;
  font-size: 2.5em;
  color: var(--secondary);
}
.About-container h3 {
  color: var(--secondary);
}
.About-container h4 {
  font-weight: 700;
  color: var(--secondary);
}
.About-container li {
  line-height: 1.5;
}

@media screen and (max-width: 850px), (max-aspect-ratio: 10/16) {
  .About-contentContainer {
    max-width: 75vw;
  }
  .About-container img {
    /* max-width: 75vw; */
    float: none;
    position: relative;
    margin-bottom: 1.5rem;
  }
  .About-contentContainerImg {
    display: flex;

    max-width: 100%;
    justify-content: center;
  }
}
