/* .About- */
.About-container {
  display: flex;
  width: 100%;
}

.About-contentContainer {
  flex: 0 0 auto;
  margin: 0 10%;
  justify-content: center;
  max-width: calc(0.35 * 1920px);
}
.About-emptySpace {
  flex: 1;
}

img {
  max-width: 300px;
  flex: 2 0 auto;
  text-align: center;
}
