.b-heirloom {
  background-image: url("https://uploads-ssl.webflow.com/6041330ff151737fb03fc474/604970012950e0db2dd8315d_Heirloom%20Logotype%20White.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #002b34;
}
.b-maker {
  background-image: url("https://tomadto.s-ul.eu/content/DANTwEW2");
  background-size: contain;
}
.b-erbs {
  background-image: url("https://tomadto.s-ul.eu/content/UNCULKdV");
  background-size: contain;
}
.b-spartan {
  background-image: url("https://tomadto.s-ul.eu/content/LbG8lmBR");
  background-size: contain;
}
.b-wearemin {
  background-image: url("https://tomadto.s-ul.eu/content/kJcIr6sO");
  background-size: cover;
}
.b-studygarden {
  background-image: url("https://tomadto.s-ul.eu/content/bkwv7n3c");
  background-size: cover;
  background-position-y: -1px;
}
.b-2007 {
  background-image: url("https://tomadto.s-ul.eu/content/IUPaFby0");
  background-size: contain;
}

.b-fsae {
  background-image: url("https://tomadto.s-ul.eu/content/yPOwI06a");
  background-size: contain;
}

.b-osu {
  background-image: url("https://tomadto.s-ul.eu/content/G1A3s24F");
  background-size: contain;
}

.b-200b {
  background-image: url("https://tomadto.s-ul.eu/content/w3vpohBk");
  background-size: contain;
}

.b-eames {
  background-image: url("https://tomadto.s-ul.eu/content/DzxdSgHU");
  background-size: contain;
}

.b-4500 {
  background-image: url("https://tomadto.s-ul.eu/content/OoVVK2l8");
  background-size: contain;
}

.b-buttonbox {
  background-image: url("https://tomadto.s-ul.eu/content/0pd9K7Kp");
  background-size: contain;
}

.b-vcar {
  background-image: url(https://tomadto.s-ul.eu/content/Yc3mmxI8);
  background-size: contain;
}
