.b-spartan {
  background-image: url("https://tomadto.s-ul.eu/content/LbG8lmBR");
  background-size: contain;
}
.b-wearemin {
  background-image: url("https://tomadto.s-ul.eu/content/kJcIr6sO");
  background-size: cover;
}
.b-studygarden {
  background-image: url("https://tomadto.s-ul.eu/content/bkwv7n3c");
  background-size: cover;
  background-position-y: -1px;
}
.b-2007 {
  background-image: url("https://tomadto.s-ul.eu/content/IUPaFby0");
  background-size: contain;
}

.b-fsae {
  background-image: url("https://tomadto.s-ul.eu/content/yPOwI06a");
  background-size: contain;
}

.b-osu {
  background-image: url("https://tomadto.s-ul.eu/content/G1A3s24F");
  background-size: contain;
}

.b-200b {
  background-image: url("https://tomadto.s-ul.eu/content/w3vpohBk");
  background-size: contain;
}

.b-eames {
  background-image: url("https://tomadto.s-ul.eu/content/DzxdSgHU");
  background-size: contain;
}

.b-4500 {
  background-image: url("https://tomadto.s-ul.eu/content/OoVVK2l8");
  background-size: contain;
}

.b-buttonbox {
  background-image: url("https://tomadto.s-ul.eu/content/0pd9K7Kp");
  background-size: contain;
}

.b-vcar {
  background-image: url(https://tomadto.s-ul.eu/content/Yc3mmxI8);
  background-size: contain;
}
