/*.Footer*/
.Footer-container {
  background-color: transparent;
  height: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  padding: 8px 0;
  /* position: absolute; */
  top: calc(100%-50px);
}
.Footer-containerTop {
  display: flex;
}
.Footer-containerAuto {
  margin: auto;
}
.Footer-contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  flex: 0 0 auto;
}
.Footer-containerBottomContent {
  margin: 10px 0;
  width: fit-content;
  justify-self: center;
}
.Footer-oneColumn {
  grid-template-columns: 1fr;
}
