.NavBar-container{
  background-color: var(--secondary);
  height: 3em;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  
}
.NavBar-emptySpace{
  flex-basis: 480px;
  flex-shrink: 1;
}
.NavBar-flex{
  color: var(--text-light);
  display: flex;
  justify-content: start;
  flex-basis: 960px;
  flex-shrink: 0;
  padding: 0 2rem;
}
.NavBar-title{
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-size: var(--xl);
  line-height: 1.5em;
  padding: 0 2rem 0 0;
  
}

.NavBar-hidden{
  background: rgb(248,222,218,0);
}

.NavBar-link{
  font-family: "Catamaran", sans-serif;
  font-size: var(--m);
  vertical-align: center;
  text-align: center;
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
}