.NavBar-container {
  background-color: var(--secondary);
  height: 3em;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 99;
  transition: background-color 0.2s;
}

.NavBar-flexBox {
  color: var(--text-light);
  width: 100%;
}
.NavBar-title {
  font-family: "Zilla Slab", serif;
  font-weight: 800;
  font-size: var(--xl);
  margin: auto;
  line-height: 1.5em;
  /* transition: color 0.2s; */
}

.NavBar-hidden {
  background: rgb(248, 222, 218, 0);
}

.NavBar-link {
  font-family: "Catamaran", sans-serif;
  font-size: var(--m);
  vertical-align: center;
  text-align: center;
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
  transition: color 0.2s;
}

.NavBar-transparent {
  background: var(--primary);
  /* font-size: var(--l); */
}
.NavBar-sticky {
  position: sticky;
}

.NavBar-transparent .NavBar-title,
.NavBar-transparent .NavBar-link {
  color: var(--text-dark);
  font-size: var(--xxxl);
  /* transition: font-size 0.05s 0.2s; */
}
