/* .Projects- */
.Projects-container {
  display: flex;
  width: 100%;
}

.Projects-cardContainer {
  scrollbar-width: thin;
  /*scrollbar-color: var(--theme-grey) var(--medgrey); /* scroll thumb and track */
  scrollbar-color: var(--theme-grey) transparent; /* scroll thumb and track */
  display: grid;
  padding: 8px 16px;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  gap: 10px 10px;
  grid-auto-rows: 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  justify-content: center;
  flex: 0 0 auto;
  flex-wrap: wrap;
  overflow-y: scroll;
  /* white-space: nowrap; */
  /* height: 75vh; */
}

/* Works on Chrome, Edge, and Safari */
.Projects-cardContainer::-webkit-scrollbar {
  width: 8px;
}

.Projects-cardContainer::-webkit-scrollbar-track {
  background: transparent;
}

.Projects-cardContainer::-webkit-scrollbar-thumb {
  background-color: var(--theme-grey);
  border-radius: 20px;
  border: 3px solid var(--theme-grey);
}
/**/

.Projects-card {
  text-decoration: none;
  background-color: transparent;
  /* background-color: var(--theme-grey); */
  /* background-color: var(--secondary); */
  width: calc(2rem * 16);
  height: calc(2rem * 9);
  margin: 8px;
  overflow: hidden;
  transition: box-shadow 0.5s;
  /* animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s; */
}
.Projects-cardInner {
  background-color: #8eb8e5ee;

  /* justify-self: right; */
  position: relative;
  top: -15%;
  left: 103%;
  width: 0%;
  /* left: 20%;
  width: 80%; */
  height: 100%;
  transition: left 0.5s 0s, width 0.5s 0s, color 0.1s;
  color: transparent;
  overflow: hidden;
  /* color: var(--text-dark); */
}
.Projects-cardInnerTitle {
  text-align: center;
  margin: auto;
  padding: var(--s);
  font-weight: 600;
  line-height: 1.25;
  font-size: 24px;
}

.Projects-cardInnerText {
  padding: var(--xs) var(--m);
  /* background-color: #8eb8e5; */
  margin: auto;
  font-size: var(--m);
}

.Projects-cardInnerLink {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  /* left: 50%; */
  padding: var(--xs) var(--m);
  margin: auto;
  width: auto;
  font-size: var(--m);
}

.Projects-construction {
  padding: 0 64px;
}
.Projects-date {
  position: relative;
  top: 85%;
  margin: 4px;
  padding: 4px 12px;
  width: max-content;
  background-color: var(--medgrey);
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.Projects-cardInner:hover,
.Projects-cardInner:focus,
.Projects-cardInner:active,
.Projects-card:hover .Projects-cardInner,
.Projects-card:focus .Projects-cardInner,
.Projects-card:active .Projects-cardInner {
  left: 0%;
  width: 100%;
  color: var(--text-dark);
  transition: left 0.5s, width 0.5s, color 0.5s 0.3s;
}
.Projects-card:hover .Projects-date,
.Projects-card:focus .Projects-date,
.Projects-card:active .Projects-date {
  background-color: transparent;
  color: transparent;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  transition: background-color 0.2s, color 0.2s;
}

.Projects-card:hover,
.Projects-card:focus,
.Projects-card:active {
  box-shadow: 2px 6px 16px 0px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s;
}

@media screen and (max-width: 850px), (max-aspect-ratio: 10/16) {
  .Projects-cardContainer {
    grid-template-columns: 1fr;
  }
  .Projects-cardInner {
    top: -17%;
  }
  .Projects-card {
    width: calc(1.5rem * 16);
    height: calc(1.5rem * 9);
  }
  .Projects-date {
    top: 83%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
